@using TravelDataRecorder.Common.TravelDataEnum
@model TravelDataRecorder.Model.ViewModel.TravelUserPasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="page-header">
    <h3 class="page-title">
        Change Password
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @if (ViewBag.Role == (int)UserRoleEnum.ProjectManager)
            {
                <li class="breadcrumb-item">@Html.ActionLink("Home ", "dashboard", new { controller = "dashboard" }) / Change Password</li>
            }
            else if (ViewBag.Role == (int)UserRoleEnum.User)
            {
                <li class="breadcrumb-item">@Html.ActionLink("Home ", "dashboard", new { controller = "dashboard" }) / Change Password</li>
            }
            else if (ViewBag.Role == (int)UserRoleEnum.Client1 || ViewBag.Role == (int)UserRoleEnum.Client2)
            {
                <li class="breadcrumb-item"> @Html.ActionLink("Home ", "dashboard", new { controller = "dashboard" }) / Change Password</li>
            }
        </ol>
    </nav>
</div>

<div class="col-12 grid-margin stretch-card">
    @using (Html.BeginForm("changepassword", "user", FormMethod.Post, new { id = "ChangePassword" }))
    {
        <div class="row">
            <form class="forms-sample">
                <div class="card m-b-30">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(x => x.OldPassword)
                                @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control", @id = "txtOldPassword", maxlength = "15", @placeholder = "Old Password" })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(x => x.NewPassword)
                                @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", @placeholder = "New Password", @id = "txtNewPassword", maxlength = "15" })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(x => x.ConfirmPassword)
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @id = "txtConfirmPassword", maxlength = "15", @placeholder = "Confirm Password" })

                            </div>
                        </div>
                        <input type="submit" id="btnSubmitDetails" class="btn btn-info mr-2 button-premier" value="Change Password">
                        <input type="reset" class="btn btn-dark secondary-button" id="btnCancel" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
    }
</div>
<div class="main-validation" style="display:none">
    <p class="show-msg"></p>
    <i class="mdi mdi-close"></i>
</div>
<script src="~/Scripts/Travel.js"></script>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        showErrorMessage("@ViewBag.Message", 4000, 'warningMessage');
    </script>
}
@if (ViewBag.Message1 != null)
{
    <script type="text/javascript">
        showErrorMessage("@ViewBag.Message", 4000, 'successMessage');
    </script>
}

<script>
    $("#btnSubmitDetails").on('click', function () {
        var oldPass = $("#txtOldPassword").val();
        var NewPass = $("#txtNewPassword").val();
        var ConfirmPass = $("#txtConfirmPassword").val();


        if (oldPass == "") {
            showErrorMessage('Old password is required', 4000,'errorMessage');
            return false;
        }
        else if (NewPass == "") {
            showErrorMessage('New password is required', 4000, 'errorMessage');
            return false;
        }
        else if (ConfirmPass == "") {
            showErrorMessage('Confirm password is required', 4000, 'errorMessage');
            return false;
        }
        else if (NewPass.length < 6 || ConfirmPass < 6) {
            showErrorMessage('New password and confirm password length should be minimum six characters', 4000, 'warningMessage');
            return false;
        }
        else if (NewPass != ConfirmPass) {
            showErrorMessage('New password and confirm password does not match', 4000, 'warningMessage');
            return false;
        }
    });


</script>