@model TravelDataRecorder.Model.ViewModel.TravelUserPasswordViewModel
@{
    Layout = null;
    @Scripts.Render("~/bundles/jquery")
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="~/assets/fonts/iconfonts/mdi/css/materialdesignicons.min.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
</head>
<body class="login-bodybg">
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5 box-shadow">
                            @if (ViewBag.IsExpired == null || !ViewBag.IsExpired)
                            {
                                <div class="brand-logo">
                                    <h2>Generate Password</h2>
                                </div>

                                using (Html.BeginForm("generatepassword", "home", FormMethod.Post))
                                {
                                    @*<h4 class="card-title"> Generate Password</h4>*@
                                    <form class="forms-sample">
                                        <input type="hidden" name="Id" value="@Model.Id">
                                        <div class="form-group">
                                            <label for="txtNewPassword">Password<span class="red">*</span></label>
                                            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", @id = "txtNewPassword", @maxlength = "6" })
                                        </div>
                                        <div class="form-group">
                                            <label for="txtConfirmPassword">Confirm Password<span class="red">*</span></label>
                                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @id = "txtConfirmPassword", @maxlength = "6" })
                                        </div>


                                        <button type="submit" id="btnpassword" class="btn btn-info mr-2">Submit</button>
                                        <button type="button" class="btn btn-dark" id="btnCancel">Cancel</button>
                                    </form>
                                }
                            }
                            else
                            {
                                <div class="auth-link forgot-text">
                                    <h3>The link has been expired</h3>
                                </div>
                                <div class="mt-1">
                                    <u class="auth-link forgot-text"><p>@Html.ActionLink("Go to Home", "login", "home")</p></u>
                                </div>
                            }
                            <div class="main-validation" style="display:none"> <p class="show-msg"></p> <i class="mdi mdi-close"></i> </div>
                            <script src="~/Scripts/Travel.js"></script>
                            @*@if (ViewBag.Message != null)
                            {
                                <script type="text/javascript">
                                    showErrorMessage("@ViewBag.Message", 4000, 'successMessage');
                                </script>
                            }*@
                            @if (ViewBag.Message != null)
                            {
                                <script type="text/javascript">
                                    showErrorMessage("@ViewBag.Message", 4000, 'successMessage');
                                </script>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>