@model TravelDataRecorder.Model.LogInModel

@{

    Layout = null;
    @Scripts.Render("~/bundles/jquery")
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="~/assets/fonts/iconfonts/mdi/css/materialdesignicons.min.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />

</head>
<body class="login-bodybg">
    @using (Html.BeginForm())
    {
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-center auth">
                    <div class="row w-100">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left p-5 box-shadow">
                                <div class="brand-logo">
                                    <h2>
                                        <img src="~/assets/images/travel-logo.png" alt="" />
                                    </h2>
                                </div>

                                <form class="pt-3" id="loginform">
                                    <div class="form-group">
                                        @*<input type="email" name="UserName" id="useremail" class="form-control form-control-lg" placeholder="Email" aria-label="Username" value="@Model.UserName">*@
                                        @Html.TextBoxFor(x => x.UserName, new { @placeholder = "Email Address ", @class = "form-control form-control-lg", @id = "useremail", @type = "email", value = "@Model.UserName" })
                                    </div>
                                    <div class="form-group">
                                        @*<input type="password" name="Password" id="userpwd" class="form-control form-control-lg" placeholder="Password" aria-label="Password" value="@Model.Password">*@
                                        @Html.TextBoxFor(x => x.Password, new { @placeholder = "Password ", @class = "form-control form-control-lg", @type = "password", @id = "userpwd", value = "@Model.Password" })

                                    </div>
                                    <div class="mt-3">
                                        <input class="btn btn-block btn-info btn-lg font-weight-medium auth-form-btn" id="loginclick" type="submit" value="SIGN IN" />
                                    </div>
                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                        @*<div class="form-check form-check-flat form-check-info">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input">
                                                    Keep me signed in
                                                    <i class="input-helper"></i><i class="input-helper"></i>
                                                </label>
                                            </div>*@
                                        <span class="auth-link forgot-text"><u>@Html.ActionLink("Forgot Password?", "forgotpassword", new { controller = "home" })</u></span>
                                        @*<a class="auth-link text-black" id="to-recover" onclick="" ><i class="fa fa-lock m-r-5"></i>Forgot password?</a>*@
                                    </div>
                                    @*@Html.Hidden("Invalid Username and Password")*@
                                    @if (!ViewData.ModelState.IsValid)
                                    {
                                        <div class="input-group mb-1">

                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- Page loader -->
            <div class="loader-main" id="mainLoader">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
            <!-- Page loader -->
        </div>
    }
    <div class="main-validation" style="display:none"> <p class="show-msg"></p> <i class="mdi mdi-close"></i> </div>
    <script src="~/Scripts/Travel.js"></script>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.Message == "Your Password has been changed successfully")
        {
            <script type="text/javascript">
                showErrorMessage("@ViewBag.Message", 4000, 'successMessage');
            </script>
        }
        else
        {
            <script type="text/javascript">
                showErrorMessage("@ViewBag.Message", 4000, 'warningMessage');
            </script>
        }
    }
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
</body>
</html>
